doctype html
html
    head
        include inc/header
        script(type='text/javascript', src='corrections.js')
    body
        .banner-mini
            .container
                include inc/navigator
        .container
            .about-grids(style="overflow: auto;")
                h3 勘误表
                table.table
                    tr
                        th 序号
                        th 页码
                        th 行号
                        th 原内容
                        th 修正内容
                        th 发现者
                    tr
                        td #1
                        td 171
                        td 27
                        td 启动完成后再次运行“etcdctl member add”
                        td 启动完成后再次运行“etcdctl member list”
                        td 作者
                    tr
                        td #2
                        td 172
                        td 9
                        td core-03=http://10.0.2.187:2380
                        td core-03=http://10.0.2.17:2380
                        td 作者
                    tr
                        td #3
                        td 172
                        td 22
                        td Cloudinit例子的代码中使用了"172.17.8.x"的地址,与前一个中的地址不符
                        td 应该改为与前一例子相应的"10.0.2.x"地址
                        td 作者
                    tr
                        td #4
                        td 202
                        td 23
                        td 因为其作用在TCP/IP协议栈的第七层
                        td 因为其作用在OSI参考模型协议栈的第七层
                        td 笑而不语
                    tr
                        td #5
                        td 46
                        td 8
                        td $ echo "CoreOS Volume" &gt; /data:/var/lib/docker/vfs/dir/082eb…aeb5d/topic
                        td $ echo "CoreOS Volume" &gt; /var/lib/docker/vfs/dir/082eb…aeb5d/topic
                        td Yanpan Chen
                    tr
                        td #6
                        td 172
                        td 31
                        td 此时若再次用“etcdctl member remove”命令查看集群的成员
                        td 此时若再次用“etcdctl member list”命令查看集群的成员
                        td 周元龙
                    tr
                        td #7
                        td 174
                        td 9
                        td tar -cxf backup.etcd.tar.gz /tmp/etcd_backup
                        td tar -czf backup.etcd.tar.gz /tmp/etcd_backup
                        td 周元龙
                    tr
                        td #8
                        td 56
                        td 14
                        td 映射到主机的相同端口上
                        td 映射到主机的随机端口上
                        td Yanpan Chen
                    tr
                        td #9
                        td 110
                        td 9
                        td U[nit]
                        td [Unit]
                        td Yanpan Chen
                    tr
                        td #10
                        td 114
                        td 7
                        td 运行级别5
                        td 运行级别3
                        td Yanpan Chen
                    tr
                        td #11
                        td 134
                        td 5
                        td ystemd-run
                        td systemd-run
                        td Yanpan Chen
                    tr
                        td #12
                        td P151
                        td 5, 7
                        td hello2.service
                        td hello.service
                        td Yanpan Chen
                    tr
                        td #13
                        td P151
                        td 倒数第3行
                        td fleetctl fournal
                        td fleetctl journal
                        td Yanpan Chen
                    tr
                        td #14
                        td P156
                        td 图5-3
                        td 最左边的角色为Leader有误
                        td 此角色应该改为Proxy
                        td Yanpan Chen
                    tr
                        td #15
                        td P176
                        td 29
                        td 这里API 路径最后的那个反斜杠表示访问Etcd 的根目录，不能省略
                        td 在较新版本的Etcd中，路径/v2/keys/最后的斜杠(/)已经不是必须的
                        td Yanpan Chen
                    tr
                        td #16
                        td P180
                        td 22, 26
                        td curl http://127.0.0.1:2379/v2/keys/demodir -XPUT -d value=bar -d ttl=30 -d prevExist=true
                        td 去掉-d value=bar
                        td Yanpan Chen
                    tr
                        td #17
                        td 183
                        td 29
                        td 由于“etcdctl get”命令并不能返回数据节点的modifiedIndex值
                        td etcdctl -o extended get 可以返回键的modifiedIndex值
                        td Yanpan Chen
                    tr
                        td #18
                        td 190
                        td 19
                        td /App/_message
                        td /App/_data
                        td Yanpan Chen
                    tr
                        td #19
                        td 197
                        td 倒数第3行
                        td ConditionMachineOf=apache@%i.service
                        td MachineOf=apache@%i.service
                        td Yanpan Chen
                    tr
                        td #20
                        td P197
                        td 倒数第2行
                        td apache-secretary@%i.service
                        td apache-secretary@.service
                        td Yanpan Chen
                    tr
                        td #21
                        td P199
                        td 4
                        td apache-secretary@%i.service
                        td apache-secretary@.service
                        td Yanpan Chen
                    //tr
                    //    td #22
                    //    td
                    //    td
                    //    td
                    //    td
                    //    td
                    //tr
                    //    td #23
                    //    td
                    //    td
                    //    td
                    //    td
                    //    td
                    //tr
                    //    td #24
                    //    td
                    //    td
                    //    td
                    //    td
                    //    td
                    //tr
                    //    td #25
                    //    td
                    //    td
                    //    td
                    //    td
                    //    td
                    //tr
                    //    td #26
                    //    td
                    //    td
                    //    td
                    //    td
                    //    td
        include inc/footer
